.link {
  display: 'inline-block';
  text-decoration: 'none';
  padding: 12;
  font-weight: 700;
  color: white;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  color: '#E84A5F';
}
