.form {
  max-width: 430px;
  padding: 15px;
  width: 320;
  border: 1px solid gray;
  border-radius: 3px;
}
.label {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.signUpBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
